Импорт файла

In [2]:
import pandas as pd

df = pd.read_csv('train.csv', index_col=0)
print(df)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3
...               ...     ...
887                 0       2
888                 1       1
889                 0       3
890                 1       1
891                 0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0
...                                                        ...     ...   ...
887                                      Montvila, Rev. Juozas    male  27.0
888                               Graham, Miss. Margaret Edith  female  19.0
889                   Johnston, Miss. Catherine Helen "Carrie"  female   NaN
890                                      Behr, Mr. Karl Howell    male  26.0
891                                        Dooley, Mr. Patrick    male  32.0

             SibSp  Parch            Ticket     Fare Cabin Embarked
PassengerId
1                1      0         A/5 21171   7.2500   NaN        S
2                1      0          PC 17599  71.2833   C85        C
3                0      0  STON/O2. 3101282   7.9250   NaN        S
4                1      0            113803  53.1000  C123        S
5                0      0            373450   8.0500   NaN        S
...            ...    ...               ...      ...   ...      ...
887              0      0            211536  13.0000   NaN        S
888              0      0            112053  30.0000   B42        S
889              1      2        W./C. 6607  23.4500   NaN        S
890              0      0            111369  30.0000  C148        C
891              0      0            370376   7.7500   NaN        Q

[891 rows x 11 columns]

Краткий обзор и описание дата сета

In [16]:
print(df.head())
print(df.info())
print(df.describe())
print(df.shape)

             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3
4                   1       1
5                   0       3

                                                          Name     Sex   Age  \
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

             SibSp  Parch     Fare Embarked
PassengerId
1                1      0   7.2500        S
2                1      0  71.2833        C
3                0      0   7.9250        S
4                1      0  53.1000        S
5                0      0   8.0500        S
<class 'pandas.core.frame.DataFrame'>
Index: 891 entries, 1 to 891
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Name      891 non-null    object
 3   Sex       891 non-null    object
 4   Age       891 non-null    float64
 5   SibSp     891 non-null    int64
 6   Parch     891 non-null    int64
 7   Fare      891 non-null    float64
 8   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(3)
memory usage: 101.9+ KB
None
         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  891.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.361582    0.523008    0.381594   32.204208
std      0.486592    0.836071   13.019697    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   22.000000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   35.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200
(891, 9)

Из выведенной информации можно сделать вывод, что в датасете присутствуют N/A поля в столбцах с возрастом, номером каюты и портом отправления. Кроме того, большая часть пассажиров было в каютах 3 класса, 75% из них были довольно молодыми (<40), почти все люди на борту не знали друг друга (небольшое количество людей, которые путешествовали в паре или с сиблингами и почти никого, кто был с родителями или детьми)

Второй этап - чистка данных, заполняем возраст средним значением по столбцу, порт отправление заполняем 'S', так как это наиболее часто встречающийся порт, а также удаляем столбцы с данными о билете и каюте

In [ ]:
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna('S')
print(df.isna().sum()) # additional check

df = df.drop(['Ticket', 'Cabin'], axis=1)

Ответы на вопросы:

Каков общий процент выживших и невыживших?

Как выживаемость зависит от пола (Sex)?

Как выживаемость зависит от класса билета (Pclass)?

Есть ли различия по возрасту: дети/взрослые/пожилые?

Влияет ли цена билета (Fare) на выживаемость?

In [27]:
# question 1

survive_table = pd.Series(index=[0, 1], dtype=float)
total = len(df)
sur_count = df['Survived'].value_counts().sort_index()
survive_table[0] = (sur_count[0] / total) * 100
survive_table[1] = (sur_count[1] / total) * 100
print(survive_table)

0    61.616162
1    38.383838
dtype: float64

In [17]:
# question 2

survive_by_gender = df.groupby('Sex')['Survived'].sum().astype(float)
total_sur = df.shape[0]
survive_by_gender.iloc[0] = (survive_by_gender.iloc[0] / total_sur) * 100 # women
survive_by_gender.iloc[1] = (survive_by_gender.iloc[1] / total_sur) * 100 # men
print(survive_by_gender)

Sex
female    26.150393
male      12.233446
Name: Survived, dtype: float64

In [38]:
# question 3

survive_by_class = df.groupby('Pclass')['Survived'].sum().astype(float)
survive_in_class = df.groupby('Pclass')['Survived'].count().astype(float)
survive_in_class.iloc[0] = (survive_by_class.iloc[0] / survive_in_class.iloc[0]) * 100
survive_in_class.iloc[1] = (survive_by_class.iloc[1] / survive_in_class.iloc[1]) * 100
survive_in_class.iloc[2] = (survive_by_class.iloc[2] / survive_in_class.iloc[2]) * 100
total_sur = df.shape[0]
survive_by_class.iloc[0] = (survive_by_class.iloc[0] / total_sur) * 100 # first class
survive_by_class.iloc[1] = (survive_by_class.iloc[1] / total_sur) * 100 # second class
survive_by_class.iloc[2] = (survive_by_class.iloc[2] / total_sur) * 100 # third class
print(survive_by_class) # общий процент выживших в каждом классе
print(survive_in_class) # процент выживших в конкретном классе от общего числа пассажиров класса

Pclass
1    15.263749
2     9.764310
3    13.355780
Name: Survived, dtype: float64
Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64

In [39]:
# question 4

bins = [0, 18, 55, 80]
labels = ['0-18', '18-55', '55-80']
df['AgeGroup'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)
survival_by_age = df.groupby('AgeGroup', observed=True)['Survived'].sum().astype(float)
survival_in_age_group = df.groupby('AgeGroup', observed=True)['Survived'].count().astype(float)
survival_in_age_group.iloc[0] = (survival_by_age.iloc[0] / survival_in_age_group.iloc[0]) * 100
survival_in_age_group.iloc[1] = (survival_by_age.iloc[1] / survival_in_age_group.iloc[1]) * 100
survival_in_age_group.iloc[2] = (survival_by_age.iloc[2] / survival_in_age_group.iloc[2]) * 100
total_sur = df.shape[0]
survival_by_age.iloc[0] = (survival_by_age.iloc[0] / total_sur) * 100 # age 0-18
survival_by_age.iloc[1] = (survival_by_age.iloc[1] / total_sur) * 100 # age 18-55
survival_by_age.iloc[2] = (survival_by_age.iloc[2] / total_sur) * 100 # age 55-80
print(survival_by_age)
print(survival_in_age_group)

AgeGroup
0-18      6.846240
18-55    24.242424
55-80     1.346801
Name: Survived, dtype: float64
AgeGroup
0-18     53.982301
18-55    38.640429
55-80    29.268293
Name: Survived, dtype: float64

In [43]:
# question 5

print(df.groupby('Survived', observed=True)['Fare'].agg(['min', 'median', 'max']))

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64
          min  median       max
Survived
0         0.0    10.5  263.0000
1         0.0    26.0  512.3292

Проанализировав полученные данные, можно сделать следующие выводы:
1) Больше спаслось женщин, чем мужчин
2) Больше спалось людей, которые заплатили больше денег за билет, т.е. из первого и второго классов
3) Больше спаслось детей, чем взрослых и стариков

Исходя из этого, можно выдвинуть гипотезу, что с большей вероятностью спаслась девочка из первого класса, чем пожилой мужчина из третьего класса